In [1]:
%load_ext nb_black

# Time Series Data Exploration & Visualization Assignment

In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime as dt

### Read the sales.csv data set into a Pandas dataframe.

In [3]:
sales = pd.read_csv(
    "https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Time%20Series%20Analysis/Time%20Series%20-%20Day%202/sales.csv",
    sep=";",
)
sales

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber
0,1,6,27039,381,7,NaN,"0,00",2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G
1,2,16,25011,61,7,NaN,"0,00",2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8
2,3,13,94024,23,24,NaN,"0,00",2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0
3,4,8,73966,176,19,0.2,"0,00",2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE
4,5,10,32653,310,9,NaN,"0,00",2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3
...,...,...,...,...,...,...,...,...,...
6758120,6758121,10,50938,300,13,NaN,"0,00",2018-04-20 22:39:03.150,AHVBHVO7632V5YYD2VJT
6758121,6758122,18,85668,452,22,0.1,"0,00",2018-01-13 15:08:18.700,M4IA0FS13J9F0GJD4BX8
6758122,6758123,21,68409,405,18,NaN,"0,00",2018-01-18 12:05:16.950,7VZJ77UGBSX2SNCC1GFW
6758123,6758124,17,90315,104,23,NaN,"0,00",2018-02-26 08:13:37.850,3JTF5IF0YJLLXF9IRS8X
6758124,6758125,16,45667,305,12,NaN,"0,00",2018-04-17 15:26:30.270,RRBD7S603UIC73B631OF

### Convert the SalesDate field to a datetime data type.

In [4]:
sales["SalesDate"] = pd.to_datetime(sales["SalesDate"])

### Create a line chart showing the number of total units sold per day in February.

In [6]:
def linechart(df, x, length=8, width=15, title=""):
    if df.index.name != x:
        df = df.set_index(x)

    ax = df.plot(figsize=(width, length), cmap="Set2")
    ax.legend(
        loc="upper center",
        bbox_to_anchor=(0.5, -0.1),
        fancybox=True,
        shadow=True,
        ncol=4,
    )

    plt.title(title + "\n", fontsize=20)

In [9]:
sales["Date"] = sales["SalesDate"] = dt.date
feb = sales[(sales["SalesDate"] > "2018-02-01") and (sales["SalesDate"] < "2018-03-01")]

TypeError: '>' not supported between instances of 'method_descriptor' and 'str'

### Create a multi-line chart comparing the daily units sold in March for the following product IDs: 124, 344, 407, and 449.

### Create a bar chart that shows units sold by each hour of the day.

### Create a heatmap that shows total unit sales by hour of the day and day of the week.

### Choose 20 ProductIDs at random and create a correlation plot showing the correlation of daily units sold for them

### Create a histogram showing the distribution of daily units sold.

### Create a violin plot showing the distribution of daily units sold by month.