In [1]:
%load_ext nb_black

# Interactive Time Series Visualization Assignment

In [2]:
import pandas as pd
import plotly.express as px
from ipywidgets import interact
from datetime import datetime as dt

### Load the Online Retail.xlsx Excel file into a Pandas dataframe.

In [3]:
data = pd.read_excel(
    "https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Time%20Series%20Analysis/Time%20Series%20-%20Day%202/Online%20Retail.xlsx"
)
data

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.30,17850,United Kingdom
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.30,17850,United Kingdom
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.30,17850,United Kingdom
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.20,17511,United Kingdom
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.60,13408,United Kingdom
...,...,...,...,...,...,...,...,...,...
396029,580691,2011-12-05 15:48:00,90214W,"LETTER ""W"" BLING KEY RING",12,0.29,3.48,13790,United Kingdom
396030,580691,2011-12-05 15:48:00,90214Z,"LETTER ""Z"" BLING KEY RING",12,0.29,3.48,13790,United Kingdom
396031,580865,2011-12-06 11:58:00,90089,PINK CRYSTAL SKULL PHONE CHARM,12,0.19,2.28,17914,United Kingdom
396032,580865,2011-12-06 11:58:00,90089,PINK CRYSTAL SKULL PHONE CHARM,12,0.19,2.28,17914,United Kingdom
396033,581425,2011-12-08 15:31:00,90089,PINK CRYSTAL SKULL PHONE CHARM,1,0.19,0.19,14796,United Kingdom

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396034 entries, 0 to 396033
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    396034 non-null  int64
 1   InvoiceDate  396034 non-null  datetime64[ns]
 2   StockCode    396034 non-null  object
 3   Description  396034 non-null  object
 4   Quantity     396034 non-null  int64
 5   UnitPrice    396034 non-null  float64
 6   Revenue      396034 non-null  float64
 7   CustomerID   396034 non-null  int64
 8   Country      396034 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 27.2+ MB

In [5]:
data["Date"] = data["InvoiceDate"].dt.date

In [6]:
data.head()

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Date
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010-12-01
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010-12-01
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.3,17850,United Kingdom,2010-12-01
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.2,17511,United Kingdom,2010-12-01
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.6,13408,United Kingdom,2010-12-01

### Create an interactive histogram to explore the distributions of daily (by date) Quantity, UnitPrice, and Revenue. Include a dropdown widget where you can switch between the three fields.

**Hint:** You will need to create a Date field and then aggregate on it. The Quantity and Revenue fields should be summed and the UnitPrice field should be averaged (mean).

In [16]:
date_df = data.groupby(["Date"], as_index=False).agg(
    {"Quantity": "sum", "Revenue": "sum", "UnitPrice": "mean"}
)
date_df

           Date  Quantity   Revenue  UnitPrice
0    2010-12-01     24207  46219.29   3.109995
1    2010-12-02     31140  47283.53   3.184610
2    2010-12-03     11822  23576.01   3.166670
3    2010-12-05     16370  31315.64   2.840382
4    2010-12-06     16267  31014.21   2.878689
..          ...       ...       ...        ...
300  2011-12-05     37609  55920.60   2.581249
301  2011-12-06     27798  45584.19   2.318553
302  2011-12-07     41080  68699.21   2.397698
303  2011-12-08     27536  50214.15   2.572785
304  2011-12-09      9578  15720.68   2.369345

[305 rows x 4 columns]

In [15]:
@interact(Unit=["Quantity", "Revenue", "UnitPrice"])
def viz(Unit):
    fig = px.histogram(date_df, x="Date", y=Unit)
    fig.show()

interactive(children=(Dropdown(description='Unit', options=('Quantity', 'Revenue', 'UnitPrice'), value='Quantiâ€¦

### Create an interactive line chart where you can explore Quantity and Revenue by day (date) for each country. Include two dropdown widgets - one to choose between the Quantity and Revenue fields and the other to choose the Country.

In [26]:
agg_df = (
    data.groupby(["Date", "Country"])
    .agg({"Quantity": "sum", "Revenue": "sum", "UnitPrice": "mean"})
    .reset_index()
)

In [21]:
data["Country"].unique()

array(['United Kingdom', 'Spain', 'Cyprus', 'EIRE', 'Portugal',
       'Netherlands', 'Australia', 'Singapore', 'Switzerland', 'Finland',
       'Channel Islands', 'France', 'Malta', 'Italy', 'Israel', 'Germany',
       'Austria', 'Norway', 'Denmark', 'Sweden', 'Belgium', 'Canada',
       'Poland', 'Japan', 'Iceland', 'Greece', 'Lebanon', 'South Africa',
       'Czech Republic', 'USA', 'Brazil', 'United Arab Emirates',
       'Lithuania', 'Saudi Arabia', 'Bahrain'], dtype=object)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396034 entries, 0 to 396033
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    396034 non-null  int64
 1   InvoiceDate  396034 non-null  datetime64[ns]
 2   StockCode    396034 non-null  object
 3   Description  396034 non-null  object
 4   Quantity     396034 non-null  int64
 5   UnitPrice    396034 non-null  float64
 6   Revenue      396034 non-null  float64
 7   CustomerID   396034 non-null  int64
 8   Country      396034 non-null  object
 9   Date         396034 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 30.2+ MB

In [27]:
@interact(
    Unit=["Quantity", "Revenue", "UnitPrice"], Country=list(data["Country"].unique())
)
def viz(Unit, Country):
    print(Unit)
    print(Country)
    filter_df = agg_df.loc[agg_df["Country"] == Country]
    fig = px.line(filter_df, x="Date", y=Unit)
    fig.show()

interactive(children=(Dropdown(description='Unit', options=('Quantity', 'Revenue', 'UnitPrice'), value='Quantiâ€¦

### Create an interactive scatter plot showing the relationships between daily Quantity, UnitPrice, and Revenue for the United Kingdom. Include two dropdown boxes that let you choose between the 3 fields - one for the x axis and one for the y axis of your scatter plot. Size the data points according to Revenue.

In [35]:
@interact(
    Unit=["Quantity", "Revenue", "UnitPrice"], Un1t=["Quantity", "Revenue", "UnitPrice"]
)
def viz(Unit, Un1t):
    filter_df = agg_df.loc[agg_df["Country"] == "United Kingdom"]
    fig = px.scatter(filter_df, x=Unit, y=Un1t, size="Revenue")
    fig.show()

interactive(children=(Dropdown(description='Unit', options=('Quantity', 'Revenue', 'UnitPrice'), value='Quantiâ€¦

### Create a bar chart showing the top X products sold (by quantity) in the United Kingdom in a specific month. Use a dropdown box to select the month name and a slider to show the top X products. The range for X should be from 5 to 25. Make sure the bars are sorted in descending order according to their total quantity sold for the month.

Bonus points if you can figure out how to ensure that the month names in the dropdown appear in their correct order (January, February, March, April, etc.).

In [37]:
data["Month"] = data["InvoiceDate"].dt.month

In [40]:
uk_df = data.loc[data["Country"] == "United Kingdom"]
uk_df

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,Revenue,CustomerID,Country,Date,Month
0,536365,2010-12-01 08:26:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.30,17850,United Kingdom,2010-12-01,12
1,536373,2010-12-01 09:02:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.30,17850,United Kingdom,2010-12-01,12
2,536375,2010-12-01 09:32:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,6,2.55,15.30,17850,United Kingdom,2010-12-01,12
3,536390,2010-12-01 10:19:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,64,2.55,163.20,17511,United Kingdom,2010-12-01,12
4,536394,2010-12-01 10:39:00,85123A,CREAM HANGING HEART T-LIGHT HOLDER,32,2.55,81.60,13408,United Kingdom,2010-12-01,12
...,...,...,...,...,...,...,...,...,...,...,...
396029,580691,2011-12-05 15:48:00,90214W,"LETTER ""W"" BLING KEY RING",12,0.29,3.48,13790,United Kingdom,2011-12-05,12
396030,580691,2011-12-05 15:48:00,90214Z,"LETTER ""Z"" BLING KEY RING",12,0.29,3.48,13790,United Kingdom,2011-12-05,12
396031,580865,2011-12-06 11:58:00,90089,PINK CRYSTAL SKULL PHONE CHARM,12,0.19,2.28,17914,United Kingdom,2011-12-06,12
396032,580865,2011-12-06 11:58:00,90089,PINK CRYSTAL SKULL PHONE CHARM,12,0.19,2.28,17914,United Kingdom,2011-12-06,12
396033,581425,2011-12-08 15:31:00,90089,PINK CRYSTAL SKULL PHONE CHARM,1,0.19,0.19,14796,United Kingdom,2011-12-08,12

In [44]:
@interact(Unit=(5, 26), Month=list(uk_df["Month"].unique()))
def viz(Unit, Month):
    fig = px.bar(uk_df, x=Month, y="Quantity")
    fig.show()

interactive(children=(IntSlider(value=15, description='Unit', max=26, min=5), Dropdown(description='Month', opâ€¦