In [3]:
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt

%matplotlib inline

data_url = "https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/kidney_stone_data.csv"
kidney_df = pd.read_csv(data_url)
kidney_df.head()

  treatment stone_size  success
0         B      large        1
1         A      large        1
2         A      large        0
3         A      large        1
4         A      large        1

In [7]:
pd.crosstab([kidney_df['stone_size'],kidney_df['treatment']],kidney_df['success'],normalize='index')

success                      0         1
stone_size treatment
large      A          0.269962  0.730038
           B          0.312500  0.687500
small      A          0.068966  0.931034
           B          0.133333  0.866667