In [1]:
%load_ext nb_black

# Time Series Modeling (Smoothing Methods) Assignment

In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import plotly.express as px

### Import the walmart stock prices data set.

In [3]:
data = pd.read_csv(
    "https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Time%20Series%20Analysis/Time%20Series%20-%20Day%203/walmart_stock_prices.csv"
)
data.head()

         date   open   high     low  close   volume Name
0  2013-02-08  71.20  71.64  71.070  71.48  5906823  WMT
1  2013-02-11  71.25  71.51  70.530  71.40  6202534  WMT
2  2013-02-12  71.49  71.66  71.100  71.40  4761910  WMT
3  2013-02-13  71.29  71.70  71.210  71.39  3969807  WMT
4  2013-02-14  71.10  71.23  70.755  70.82  6820952  WMT

### Plot a line chart with the observed values (the daily closing prices).

### Choose 4 moving average time windows and add columns to the data set containing the values for each of them.

### Plot a multi-line chart that compares the 4 different simple moving averages.

### Write a function that calculates a weighted moving average. Take the weighted moving average of the observed values and store it in a new column in the dataframe.

### Plot the weighted moving average in a multi-line plot with its simple moving average of the same length and evaluate the differences.

### Apply a simple exponential smoothing model to the observed values and store the results in a new column.

### Add the simple exponential smoothing values to your multi-line plot containing the simple and weighted moving average values and evaluate how they differ.

### Perform double and triple exponential smoothing and store their respective values in new columns.

### Create a new multi-line plot showing the results of the three exponential smoothing methods.

### Evaluate the performances of the three exponential smoothing methods by calculating their mean absolute error and their root mean squared error. Which one modeled the data best?