In [1]:
%load_ext nb_black

# Time Series Data Exploration & Visualization Assignment

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Read the sales.csv data set into a Pandas dataframe.

### Convert the SalesDate field to a datetime data type.

### Create a line chart showing the number of total units sold per day in February.

### Create a multi-line chart comparing the daily units sold in March for the following product IDs: 124, 344, 407, and 449.

### Create a bar chart that shows units sold by each hour of the day.

### Create a heatmap that shows total unit sales by hour of the day and day of the week.

### Choose 20 ProductIDs at random and create a correlation plot showing the correlation of daily units sold for them

### Create a histogram showing the distribution of daily units sold.

### Create a violin plot showing the distribution of daily units sold by month.