## Day 49 Lecture 1 Assignment

In this assignment, we will apply GMM (Gaussian Mixture Modeling) clustering to a dataset containing player-season statistics for NBA players from the past four years.

In [1]:

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.mixture import GaussianMixture
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from scipy.special import entr

This dataset contains player-season statistics for NBA players from the past four years. Each row in this dataset represents a player's per-game averages for a single season. 

This dataset contains the following variables:

- Seas: season ('2019' = 2018-2019 season, '2018' = 2017-2018 season, etc.)
- Player: player name
- Pos: position
- Age: age
- Tm: team
- G: games played
- GS: games started
- MP: minutes played
- FG: field goals
- FGA: field goals attempted
- FG%: field goal percentage
- 3P: 3 pointers
- 3PA: 3 pointers attempted
- 3P%: 3 point percentage
- 2P: 2 pointers
- 2PA: 2 pointers attempted
- 2P%: 2 point percentage
- eFG%: effective field goal percentage
- FT: free throws
- FTA: free throws attempted
- FT%: free throw percentage
- ORB: offensive rebound
- DRB: defensive rebound
- TRB: total rebounds
- AST: assists
- STL: steals
- BLK: blocks
- TOV: turnovers
- PF: personal fouls
- PTS: points

Load the dataset.

In [2]:
nba_data = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/nba_player_seasons.csv')

The goal is to cluster these player-seasons to identify potential player "archetypes".  
The pre-processing steps will be identical to what we previously did for K-means.

Begin by removing players whose season did not meet one of the following criteria:
1. Started at least 20 games
2. Averaged at least 10 minutes per game

In [3]:
filterdata = nba_data.copy()
filterdata = filterdata[filterdata['G'] >= 20]
filterdata = filterdata[filterdata['MP'] >= 10]
filterdata = filterdata.reset_index(drop=True)
filterdata

,Seas,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2019,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,0.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2019,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,0.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
2,2019,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
3,2019,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,0.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9
4,2019,LaMarcus Aldridge,C,33,SAS,81,81,33.2,8.4,16.3,...,0.847,3.1,6.1,9.2,2.4,0.5,1.3,1.8,2.2,21.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1583,2016,Metta World Peace,SF,36,LAL,35,5,16.9,1.6,5.1,...,0.702,0.5,2.0,2.5,0.8,0.6,0.3,0.4,1.9,5.0
1584,2016,Nick Young,SG,30,LAL,54,2,19.1,2.3,6.9,...,0.829,0.3,1.5,1.8,0.6,0.4,0.1,0.6,0.9,7.3
1585,2016,Thaddeus Young,PF,27,BRK,73,73,33.0,6.8,13.2,...,0.644,2.4,6.6,9.0,1.8,1.5,0.5,1.9,2.5,15.1
1586,2016,Cody Zeller,C,23,CHO,73,60,24.3,3.2,6.0,...,0.754,1.9,4.3,6.2,1.0,0.8,0.9,0.9,2.8,8.7
1587,2016,Tyler Zeller,C,26,BOS,60,3,11.8,2.3,4.8,...,0.815,1.0,1.9,3.0,0.5,0.2,0.4,0.8,1.6,6.1

Choose a subset of numeric columns that is interesting to you from an "archetypal" standpoint. 

We will choose the following basic statistics: **points, total rebounds, assists, steals, blocks**, and **turnovers**, but you should feel free to choose other reasonable feature sets if you like. Be careful not to include too many dimensions (curse of dimensionality).

In [4]:
funcols = ['PTS', 'TRB', 'AST', 'STL', 'BLK', 'TOV']
fundata = filterdata[funcols]
fundata.head()

    PTS  TRB  AST  STL  BLK  TOV
0   5.3  1.5  0.6  0.5  0.2  0.5
1   3.2  1.8  1.9  0.4  0.1  0.8
2  13.9  9.5  1.6  1.5  1.0  1.7
3   8.9  7.3  2.2  0.9  0.8  1.5
4  21.3  9.2  2.4  0.5  1.3  1.8

Standardize the features in your dataset using scikit-learn's StandardScaler, which will set the mean of each feature to 0 and the variance to 1.

In [5]:
scaler = StandardScaler()
fundata = scaler.fit_transform(fundata)
fundata

array([[-0.84172545, -1.1169433 , -0.89238488, -0.59870033, -0.61546011,
        -1.04027913],
       [-1.21346737, -0.99164618, -0.17104131, -0.85128698, -0.84922013,
        -0.64900408],
       [ 0.68064621,  2.2243131 , -0.33750521,  1.92716611,  1.25462007,
         0.52482107],
       ...,
       [ 0.89307016,  2.01548458, -0.22652928,  1.92716611,  0.08581996,
         0.7856711 ],
       [-0.23985759,  0.84604484, -0.67043301,  0.1590596 ,  1.02086005,
        -0.51857906],
       [-0.70010949, -0.49045772, -0.94787285, -1.35646027, -0.14794006,
        -0.64900408]])

Run both K-Means and Gaussian mixtures modeling twice, once with 3 cluster and once with 7 clusters. Print out the resulting means for all 4 scenarios (KM+3, GMM+3, KM+7, GMM+7). When printing the means, transform the scaled versions back into their corresponding unscaled values. 

What "archetypes" do you see? Are the archetypes identified by GMM similar to those identified by K-Means? How do the means of GMM differ from those of K-Means?

In [12]:
k = 3
model1 = KMeans(n_clusters=k, random_state=36)
model1.fit_transform(fundata)
model1_centers = pd.DataFrame(scaler.inverse_transform(model1.cluster_centers_),
                             columns=funcols)

model2 = GaussianMixture(n_components=k)
model2.fit(fundata)
model2_centers = pd.DataFrame(scaler.inverse_transform(model2.means_),
                             columns=funcols)

display(
    model1_centers,
    model2_centers
)

         PTS       TRB       AST       STL       BLK       TOV
0   7.125992  2.997718  1.548512  0.579167  0.302679  0.906746
1  18.122267  4.730364  5.376518  1.250202  0.415789  2.560729
2  12.937237  7.323423  1.855255  0.834234  0.984685  1.543844

         PTS       TRB       AST       STL       BLK       TOV
0  11.687166  6.680462  1.783689  0.805544  0.910287  1.435557
1  14.171081  3.788361  4.162187  1.041426  0.310234  1.965766
2   6.537470  2.899221  1.262327  0.508395  0.287675  0.803266

In [13]:
k = 7
model3 = KMeans(n_clusters=k, random_state=36)
model3.fit_transform(fundata)
model3_centers = pd.DataFrame(scaler.inverse_transform(model3.cluster_centers_),
                             columns=funcols)

model4 = GaussianMixture(n_components=k)
model4.fit(fundata)
model4_centers = pd.DataFrame(scaler.inverse_transform(model4.means_),
                             columns=funcols)

display(
    model3_centers,
    model4_centers
)

         PTS       TRB       AST       STL       BLK       TOV
0  13.203015  6.835176  2.014070  0.919095  0.668342  1.523618
1   9.586127  2.954335  2.565607  0.836127  0.239306  1.283526
2  16.867568  9.878378  2.109459  0.851351  1.735135  2.010811
3  22.060811  6.564865  7.016216  1.595946  0.629730  3.291892
4   7.032806  4.831225  1.043478  0.517787  0.754545  0.896443
5   5.624948  2.449896  1.068399  0.437006  0.217048  0.683992
6  16.506211  3.906211  4.751553  1.092547  0.308075  2.267702

         PTS       TRB       AST       STL       BLK       TOV
0  14.857260  8.307504  2.613705  0.795694  1.263078  1.899175
1   5.889572  2.925773  0.850536  0.412288  0.257732  0.648525
2  15.605321  3.606533  4.744892  1.048121  0.265790  2.162984
3   7.045756  4.684391  1.087083  0.568883  0.750196  0.894794
4  12.745972  5.325059  1.910974  0.908201  0.426844  1.420182
5   7.488204  2.228777  2.268316  0.681307  0.189845  1.084194
6  20.051698  6.594661  6.414509  1.725199  0.718289  3.088484

Predict the likelihood of each season belonging to one of the 3 clusters using the GMM model. Then, calculate the entropy for each set of predicted probabilities. 

We will use entropy as a measure of how confident we are in the predicted class label. If we had no confidence in our prediction, we would assign 33% probability to each class, while if we were totally confident, we would assign 100% to one class. Entropy would be at a maximum in the "no confidence" scenario and a minimum in the "full confidence" scenario, which makes it a reasonable way to quantify our uncertainty in our prediction. There are certainly other methods as well; feel free to experiment with them if desired.

Which five predicted labels are we least confident about? Which five are we most confident about? Print out the associated details (season, player name, stats, etc.) from those seasons.

In [26]:
playerprobs = pd.DataFrame(model2.predict_proba(fundata))

filterdata['label'] = playerprobs.idxmax(axis=1)
filterdata['probs'] = playerprobs.max(axis=1)

display(
    filterdata.sort_values(by='probs', ascending=False).head(5),
    filterdata.sort_values(by='probs', ascending=True).head(5)
)

,Seas,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,label,probs
116,2019,Andre Drummond,C,25,DET,79,79,33.5,7.1,13.3,...,10.2,15.6,1.4,1.7,1.7,2.2,3.4,17.3,0,1.0
121,2019,Joel Embiid,C,24,PHI,64,64,33.7,9.1,18.7,...,11.1,13.6,3.7,0.7,1.9,3.5,3.3,27.5,0,1.0
494,2018,Andre Drummond,C,24,DET,78,78,33.7,6.0,11.3,...,10.9,16.0,3.0,1.5,1.6,2.6,3.2,15.0,0,1.0
892,2017,Joel Embiid,C,22,PHI,31,31,25.4,6.5,13.8,...,5.9,7.8,2.1,0.9,2.5,3.8,3.6,20.2,0,1.0
480,2018,Anthony Davis,PF,24,NOP,75,75,36.4,10.4,19.5,...,8.6,11.1,2.3,1.5,2.6,2.2,2.1,28.1,0,1.0

,Seas,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,label,probs
298,2019,Cedi Osman,SF,23,CLE,76,75,32.2,4.7,11.1,...,4.1,4.7,2.6,0.8,0.1,1.5,2.6,13.0,1,0.378169
846,2017,DeMarre Carroll,SF,30,TOR,72,72,26.1,3.1,7.6,...,2.9,3.8,1.0,1.1,0.4,0.8,2.0,8.9,2,0.386705
703,2018,Terrence Ross,SG,26,ORL,24,20,25.0,3.2,8.0,...,2.6,3.0,1.6,1.1,0.5,1.2,1.9,8.7,2,0.388245
766,2018,Troy Williams,SF,23,TOT,21,1,14.6,2.4,5.2,...,2.0,3.0,0.8,1.0,0.2,0.9,1.6,6.3,1,0.389326
334,2019,Thabo Sefolosha,SF,34,UTA,50,2,12.2,1.4,3.0,...,2.3,2.5,0.5,0.9,0.1,0.5,0.8,3.8,0,0.389588